<template name="month">
    {{#Scrollview translate="[0, 10]" friction="0.001" drag="0.0001" edgeGrip="0.5" edgeDamp="1" speedLimit="1" }}
        {{#famousEach posts}}
            {{>Surface template="listItemMonth" size="[undefined, 500]" }}
        {{/famousEach}}
    {{/Scrollview}}
</template>

<template name="listItemMonth">
    <div class="month-panel">
       <div class="media-top">
           {{#with FS.GetFile "images" image}}
              <img class="media-object" src="{{this.url store='images'}}" alt="">
            {{/with}}
       </div>
       <div class="media-body">
       </div>
    </div>
</template>